- var title1 = "Sniffed Accounts"
- var title2 = "Network Hosts"
- var title3 = "Wireless Networks"
- var title4 = "Network Statistics"
- var title5 = "Sniffed Images"
- var title6 = "Custom Protocols"

head
  script(src='/static/js/jquery.min.js')
  script(src='/static/js/jquery-ui.js')
  script(src='/static/js/lodash.min.js')
  script(src='/static/js/bootstrap.min.js')
  script(src="/socket.io/socket.io.js")
  link(rel='stylesheet', href='/static/css/bootstrap.css')
  link(rel='stylesheet', href='/static/css/control.css')

body
  ul.sidebar
    li(onclick="location.href='/'") Shepards Pi Home
    li(onclick="location.href='/control'") Parser Settings
  input#sidebar-btn.sidebar-btn(type='checkbox' unchecked)
  label(for='sidebar-btn')

  .container
    .row
      .col-sm-12
        .h2 ShepardsPi
        .h5 v#{version} | Shepards Pi | Network analysis tool
        img#icon(src="https://bit.ly/2SVHA7O")
    .row
    for i in interface
      .row
        form(action='/'+i.name+'/parsers' method="post")
          .ifstart
            .if-title Interface Name: #{i.name}
            .col-md-6
              if i.connected
                .if-subtitle Connected!
                if i.wireless
                  .if-data NIC type: Wireless
                else
                  .if-data NIC type: Wired
                .if-data IP is: #{i.ip}
                .if-data Broadcast: #{i.brd}
              else
                .if-subtitle Not Connected!
                if i.wireless
                  .if-data NIC type: Wireless
                else
                  .if-data NIC type: Wired
            if i.wireless
              .col-md-6
                row
                  .if-subtitle Wireless Parsers:
                  .col-sm-2
                    label.switch
                      input(type='checkbox' name='TSharkmon')
                      span.slider.round
                  .col-sm-2
                    .if-parsers TShark
            if i.connected
              .col-md-6
                row
                  .if-subtitle Network Parsers:
                  row
                    .col-md-6
                      .col-sm-4
                        label.switch
                          input(type='checkbox' name='p0f')
                          span.slider.round
                      .col-sm-2
                        .if-parsers p0f
                    .col-md-6
                      .col-sm-4
                        label.switch
                          input(type='checkbox' name='Ettercap')
                          span.slider.round
                      .col-sm-2
                        .if-parsers Ettercap
                  row
                    .col-md-6
                      .col-sm-4
                        label.switch
                          input(type='checkbox' name='Driftnet')
                          span.slider.round
                      .col-sm-2
                        .if-parsers Driftnet
                    .col-md-6
                      .col-sm-4
                        label.switch
                          input(type='checkbox' name='TShark')
                          span.slider.round
                      .col-sm-2
                        .if-parsers TShark
                  row
                  .col-md-6
                    .col-sm-4
                      label.switch
                        input(type='checkbox' name='NGrep')
                        span.slider.round
                    .col-sm-2
                      .if-parsers NGrep
                  row
                  .subBtn
                    input.sub(type='submit', value='Save Config')
      hr
